<!--The content below is only a placeholder and can be replaced.-->
<!--<h1>Welcome to app</h1>
  <dx-scheduler
    [dataSource]="appointmentData"
    [views]='["day" , "week", "month"]'
    currentView="day"
    [currentDate]="currentDate"
    [startDayHour]="9"
    [endDayHour]="24"
    [showCurrentTimeIndicator]="showCurrentTimeIndicator"
    [shadeUntilCurrentTime]="shadeUntilCurrentTime"
    [showAllDayPanel]='true'
    [height]="height"
    [width]=""
    (onContentReady)="onContentReady($event)"
    (onCellClick)="onCellClick($event)">
</dx-scheduler>-->

<app-boot-strap></app-boot-strap>
<div class="starter-template">
  <h1>Bootstrap starter template</h1>
  <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
</div>


